<a href="https://colab.research.google.com/github/Theosdoor/ML-Summative-2023/blob/main/ML_Coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Dataset](https://archive.ics.uci.edu/dataset/320/student+performance)
(look at previous papers using dataset too)

Should use classification algorithm because data is discrete (KNN, SVM, random forest, etc.). Use one-hot for categorical data.

Original paper says that G1, G2 correlated to G3 so its harder to predict G3 without them, but much more valuable to do so. Show attempts with and without?

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [17]:
df_maths = pd.read_csv('/content/drive/MyDrive/UNI/Computer Science/COMP2261 Artificial Intelligence/Machine Learning Coursework/student-mat-formatted.csv')
df_por = pd.read_csv('/content/drive/MyDrive/UNI/Computer Science/COMP2261 Artificial Intelligence/Machine Learning Coursework/student-por-formatted.csv')
df_por

In [31]:
X = df_por.drop('G3', axis = 1)
y = df_por['G3']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42) # test_size too small?

X_train

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
332,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,no,4,3,3,1,2,2,0,18,18
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,4,4,5,5,5,5,4,12,11
302,GP,M,18,R,GT3,T,3,2,other,other,...,no,5,3,2,1,1,3,2,10,11
286,GP,M,17,R,GT3,T,2,1,other,other,...,no,4,4,2,2,4,5,0,12,12
554,MS,F,17,R,GT3,T,1,1,at_home,at_home,...,yes,3,5,5,2,2,4,3,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,GP,M,15,U,GT3,T,4,2,other,other,...,no,3,3,3,1,1,3,0,11,9
106,GP,F,15,U,GT3,T,2,2,other,other,...,no,5,1,2,1,1,3,4,10,10
270,GP,M,16,U,GT3,T,4,4,services,services,...,no,5,3,2,1,2,5,4,14,15
435,MS,F,15,R,LE3,T,1,1,at_home,services,...,no,5,4,3,1,2,4,0,10,10
102,GP,M,15,U,GT3,T,4,4,services,other,...,no,5,3,3,1,1,5,2,12,13